@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 1000px;
  background-image: url("bg.jpg");
  background-position: center center;
}

/*** WRAPPER — MOVES ON DRAG ***/
.paper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
}

/*** PAPER — DESIGN ONLY ***/
.paper {
  background-image: url("paper.jpg");
  background-size: 500px;
  background-position: center center;
  padding: 20px 100px;

  box-shadow: 1px 15px 20px rgba(0,0,0,0.5);
  position: relative;

  transform: rotateZ(-5deg);
}

.paper.heart {
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}
.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  user-select: none;
}

.paper.heart::after {
  content:"";
  background-image: url("heart.webp");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
}
