<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Draggable Papers</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="paper" style="z-index:1;">
    <p>I ❤️ You</p>
</div>

<div class="paper image" style="z-index:2;">
    <img src="pic1.jpg">
</div>

<div class="paper image" style="z-index:3;">
    <img src="pic2.jpg">
</div>

<script src="script.js"></script>
</body>
</html>
